* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #1b5f62;
}

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.form-render {
  display: flex;
  max-width: 400;
}

.card-prev {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.253);
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  text-shadow: 2px 2px 10px rgb(22, 22, 22);
  width: 400px;
}

.card-list {
  background-color: rgb(245, 238, 229);
  border-radius: 1rem;
  border-top: 2px solid rgba(51, 51, 51, 0.308);
  border-top-style: ridge;
  box-shadow: 2px 2px 10px black;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: space-around;
  margin-top: 50px;
  padding-top: 20px;
  width: 100%;
}

.card {
  background-color: #023031;
  border-radius: 10px;
  box-shadow: 2px 2px 10px gray;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 450px;
  max-width: 300px;
  padding: 2rem 1rem 1rem;
  position: relative;
}

img {
  border-radius: 0.5rem;
  max-width: fit-content;
}

.card-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: relative;
  width: 10%;
}

.trunfo-text {
  background-color: cadetblue;
  border-radius: 0.5rem;
  bottom: 27px;
  color: rgb(228, 195, 89);
  left: 0;
  margin: auto;
  padding: 0.2rem;
  position: absolute;
  right: 0;
  text-align: center;
  text-shadow: 2px 2px 10px black;
  width: 90%;
  z-index: 1;
}

h3 {
  text-align: center;
  text-shadow: 2px 2px 10px rgb(22, 22, 22);
}

.img-background {
  inset: 0;
  margin: auto;
  position: absolute;
  width: 100%;
  z-index: 2;
}

h4, p {
  text-align: center;
}

p:nth-of-type( 2 ) {
  margin-left: 15px;
  position: absolute;
  z-index: 2;
}

p:nth-of-type( 3 ) {
  bottom: 40px;
  left: 30px;
  position: absolute;
  z-index: 2;
}

p:nth-of-type( 4 ) {
  bottom: 40px;
  position: absolute;
  right: 30px;
  z-index: 2;

}

.card-list button {
  background-color: rgb(138, 22, 37);
  border-radius: 0.3rem;
  box-shadow: 2px 2px 10px gray;
  color: aliceblue;
  padding: 0.5rem;

}

h1 { color: aliceblue;
  margin-bottom: 2rem;
  text-align: center;
  text-shadow: 2px 2px 10px rgb(22, 22, 22);
}

.title {
  width: 100%;
}

.image-card {
  border-style: none;
  height: 240px;
  width: 270px;
}

select {
  margin-left: 10px;
}

select option {
  background-color: #023031;
  color: aliceblue;
}

.desc-input {
  display: block;
  margin-left: 10%;
  overflow-wrap: break-word;
  width: 80%;

}
